$theme: standard;
$d: #888888;

$main-color: #000000;
$browse-color: invert($main-color);
$main-bg-color: (#FFEB3B - $main-color);
$browse-bg-color: $main-color;

@if $theme == invert {
  $main-color: invert($main-color);
  $browse-color: invert($browse-color);
  $main-bg-color: invert($main-bg-color);
  $browse-bg-color: invert($browse-bg-color);
}

@if hue($main-color) > 0.5 {
  $main-color: adjust-hue($main-color, 180);
  $browse-color: adjust-hue($browse-color, 180);
  $main-bg-color: adjust-hue($main-bg-color, 180);
  $browse-bg-color: adjust-hue($browse-bg-color, 180);
}

@mixin box($margin: 0, $padding: 0) {
  margin: $margin;
  padding: $padding;
}

html, body, h1, h2, h3, main, section, p, ul, li, a, hr, cite, div {
  font-family: "Lora";
  font-size: 1em;
  line-height: 1.8em;
  font-weight: normal;
  font-style: normal;
  color: $main-color;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  text-transform: none;
}

body {
  background: $main-bg-color;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 960px) {
    display:block;
  }
  main {
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    // padding-left: 5%;
    // padding-right: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: lightUp 2s linear;
    @media (max-width: 960px) {
        height: auto;
        width: auto;
        position: static;
        padding: 8%;
        animation: none;
    }
    @include box(0, 0 10% 0 5%);
    h1 {
      font-family: "Oswald";
      font-size: 4em;
      font-weight: bold;
      text-transform:uppercase;
    }
    hr {
      width:20%;
      height:0.6em;
      background: $main-color;
      margin-bottom: 3em;
    }
    h2, a {
      font-weight: bold;
    }
    h2, p, a {
      font-size: 1rem;
    }
    .description {
      margin-bottom: 2em;
    }
  }
  .browse {
    background: $browse-bg-color;
    padding: 3% 5%;
    width: 50%;
    min-height: 100vh;
    box-sizing: border-box;
    flex-shrink: 0;
    transform: translate(-100vw);
    transform-origin: left center;
    animation: shift 1.4s 0.6s forwards cubic-bezier(0.77, 0, 0.175, 1);
    @media (max-width: 960px) {
        height: auto;
        width: auto;
        animation: none;
        transform: translate(0);
    }
    ul {
      animation: lightUp 2s 0.6s linear;
      @media (max-width: 960px) {
          animation: none;
      }
    }
    li {
      border-bottom: 1px solid $browse-color;
      transition: box-shadow 0.3s;
      padding: 1.5em 0;
      &:hover {
        box-shadow: inset 0 -0.5em $browse-color;
      }
      .type {
        display: flex;
        justify-content: space-between;
        align-items:flex-end;
      }
    }
    h3, p {
      text-decoration: uppercase;
      color: $browse-color;
      font-weight: bold;
      font-family: "Oswald";
      font-size: 1.2em;
      line-height: 1.3em;
    }
    h3 {
      color: $main-bg-color;
    }
    cite {
      font-style: italic;
      color: $browse-color;
      font-size: 0.8em;
      line-height: 1.3em;
      word-spacing: 0.2em;
      text-align: right;
    }
  }
}

@keyframes shift {
  from {transform: translate(-110vw) scaleX(1.2)}
  to {transform: translate(0) scaleX(1)}
}

@keyframes lightUp {
  0% {opacity: 0}
  66% {opacity: 0}
  100% {opacity: 1};
}
